@model Models.EntityFramework.LOAI_SAN_PHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LOAI_SAN_PHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_LOAI_SP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_LOAI_SP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLUG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLUG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANG_THAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANG_THAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_CHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAY_TAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_TAO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_LOAI_SP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
